*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.main_page {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
   
    /* background-image: linear-gradient(to bottom, #74BDCB, #FFA384); */
    /* pt-5 mb-5 pb-3 */
    
  
}


.img1 {
    width: 200px;
    height: 240px;
    border-radius: 8%;
}

.conatnet{
    margin-left:10px;
    margin-right: 10px;
}



marquee {
    font-size: 20px;
    color: rgb(155, 71, 15);
}

h3 {
    font-family: 'Libre Bodoni', serif;
    font: 800;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font: 800;
}

.name {
    color:rgb(116, 46, 6);
}

.btn1{
    display: flex;
}




